<!DOCTYPE html>
<html>
  <head>
    <title>Derek Garnett</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/nav' %>
    <%= render 'shared/header' %>

    <% if notice %>
      <p class="alert"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <main class="main">
      <%= yield %>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
